# Environment
.env
.venv/
env/
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.pytest_cache/

# Cache Files
*.pkl
*.cache

# IDEs
.vscode/
.idea/
.project
.settings/

# OS
.DS_Store
Thumbs.db
